<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Prueba de componentes en IONIC</ion-title>
  </ion-toolbar>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Horario 1</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Lunes a viernes</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Horario 2</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Lunes a domingo</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Horario 3</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Sábado y domingo</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScrollStart)="handleScrollStart()"
  (ionScroll)="handleScroll($any($event))" (ionScrollEnd)="handleScrollEnd()" class="ion-padding">
  <div id="container2">
    <ion-toolbar>
      <p><strong class="capitalize">Breadcrumbs</strong></p>
      <ion-breadcrumbs>
        <ion-breadcrumb href="#home">
          <ion-icon slot="start" name="home"></ion-icon>
          Home
        </ion-breadcrumb>
        <ion-breadcrumb href="#electronics">
          <ion-icon slot="start" name="flash"></ion-icon>
          Electronics
        </ion-breadcrumb>
        <ion-breadcrumb href="#cameras">
          <ion-icon slot="start" name="camera"></ion-icon>
          Cameras
        </ion-breadcrumb>
        <ion-breadcrumb href="#film">
          <ion-icon slot="start" name="film"></ion-icon>
          Film
        </ion-breadcrumb>
      </ion-breadcrumbs>
    </ion-toolbar>
  </div>

  <div id="container">
    <ion-toolbar>
      <p><strong class="capitalize">Botón ActionSheet / Botón Alert</strong></p>
      <ion-button id="open-action-sheet" color="dark">Opciones</ion-button>
      <ion-action-sheet trigger="open-action-sheet" header="Opciones" [buttons]="actionSheetButtons"></ion-action-sheet>
      <ion-button id="present-alert" color="danger">Eliminar</ion-button>
      <ion-alert trigger="present-alert" header="Eliminar elemento" subHeader="¿Estás seguro?"
        message="Esta acción no se puede deshacer." [buttons]="alertButtons">
      </ion-alert>
    </ion-toolbar>
  </div>

  <div id="container3">
    <ion-toolbar>
      <p><strong class="capitalize">Botón Shape</strong></p>
      <ion-button color="tertiary">Normal</ion-button>
      <ion-button shape="round" color="dark">Redondo</ion-button>
      <ion-button color="danger">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="danger">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </div>

  <div id="container4">
    <ion-toolbar>
      <p><strong class="capitalize">CheckBox - Helper&ErrorText</strong></p>
      <br />
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <ion-checkbox formControlName="agree" helperText="De acuerdo con los términos"
          errorText="Debes aceptar los términos para continuar">
          Acepto los términos y condiciones
        </ion-checkbox>

        <br />

        <ion-button type="submit" size="small">Enviar</ion-button>
      </form>
    </ion-toolbar>
  </div>

  <div id="container5">
    <ion-toolbar>
      <p><strong class="capitalize">Ion-Chip</strong></p>
      <ion-chip>Online</ion-chip>
      <ion-chip [disabled]="true">Disabled</ion-chip>
      <ion-chip [outline]="true">Offline</ion-chip>
    </ion-toolbar>
  </div>

  <div id="container6">
    <ion-toolbar>
      <p><strong class="capitalize">Scroll Events</strong></p>
    </ion-toolbar>
  </div>

  <div id="container7">
    <ion-toolbar>
      <p><strong class="capitalize">ion-datetime-button</strong></p>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-toolbar>
  </div>

  <div style="height: 600px;"></div>
</ion-content>

<ion-footer>
  <ion-tab-bar color="dark">
    <ion-tab-button tab="1">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favoritos</ion-label>
      <ion-badge color="success">30</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="2">
      <ion-icon name="musical-note"></ion-icon>
      <ion-label>Música</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="3">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendario</ion-label>
      <ion-badge color="success">47</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-toolbar>
    <div id="container">
      Git: <a target="_blank" rel="noopener noreferrer"
        href="https://github.com/Morningstar0707">github.com/Morningstar0707</a>
    </div>
  </ion-toolbar>
</ion-footer>