<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Prueba de componentes en IONIC</ion-title>
  </ion-toolbar>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Horario 1</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Lunes a viernes</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Horario 2</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Lunes a domingo</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Horario 3</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Sábado y domingo</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScrollStart)="handleScrollStart()"
  (ionScroll)="handleScroll($any($event))" (ionScrollEnd)="handleScrollEnd()" class="ion-padding">
  <div id="container2">
    <ion-toolbar>
      <p><strong class="capitalize">Breadcrumbs</strong></p>
      <ion-breadcrumbs>
        <ion-breadcrumb href="#home">
          <ion-icon slot="start" name="home"></ion-icon>
          Home
        </ion-breadcrumb>
        <ion-breadcrumb href="#electronics">
          <ion-icon slot="start" name="flash"></ion-icon>
          Electronics
        </ion-breadcrumb>
        <ion-breadcrumb href="#cameras">
          <ion-icon slot="start" name="camera"></ion-icon>
          Cameras
        </ion-breadcrumb>
        <ion-breadcrumb href="#film">
          <ion-icon slot="start" name="film"></ion-icon>
          Film
        </ion-breadcrumb>
      </ion-breadcrumbs>
    </ion-toolbar>
  </div>

  <div id="container">
    <ion-toolbar>
      <p><strong class="capitalize">Botón ActionSheet / Botón Alert</strong></p>
      <ion-button id="open-action-sheet" color="dark">Opciones</ion-button>
      <ion-action-sheet trigger="open-action-sheet" header="Opciones" [buttons]="actionSheetButtons"></ion-action-sheet>
      <ion-button id="present-alert" color="danger">Eliminar</ion-button>
      <ion-alert trigger="present-alert" header="Eliminar elemento" subHeader="¿Estás seguro?"
        message="Esta acción no se puede deshacer." [buttons]="alertButtons">
      </ion-alert>
    </ion-toolbar>
  </div>

  <div id="container3">
    <ion-toolbar>
      <p><strong class="capitalize">Botón Shape</strong></p>
      <ion-button color="tertiary">Normal</ion-button>
      <ion-button shape="round" color="dark">Redondo</ion-button>
      <ion-button color="danger">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="danger">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </div>

  <div id="container4">
    <ion-toolbar>
      <p><strong class="capitalize">CheckBox - Helper&ErrorText</strong></p>
      <br />
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <ion-checkbox formControlName="agree" helperText="De acuerdo con los términos"
          errorText="Debes aceptar los términos para continuar">
          Acepto los términos y condiciones
        </ion-checkbox>

        <br />

        <ion-button type="submit" size="small">Enviar</ion-button>
      </form>
    </ion-toolbar>
  </div>

  <div id="container5">
    <ion-toolbar>
      <p><strong class="capitalize">Ion-Chip</strong></p>
      <ion-chip>Online</ion-chip>
      <ion-chip [disabled]="true">Disabled</ion-chip>
      <ion-chip [outline]="true">Offline</ion-chip>
    </ion-toolbar>
  </div>

  <div id="container6">
    <ion-toolbar>
      <p><strong class="capitalize">Scroll Events</strong></p>
    </ion-toolbar>
  </div>

  <div id="container7">
    <ion-toolbar>
      <p><strong class="capitalize">ion-datetime-button</strong></p>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-toolbar>
  </div>

  <div id="container8">
    <ion-toolbar>
      <p><strong class="capitalize">Ion-Picker/Prefix & Suffix Content</strong></p>
      <ion-picker>
        <ion-picker-column [value]="1">
          <div slot="prefix">$</div>
          <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
          <ion-picker-column-option [value]="1">1</ion-picker-column-option>
          <ion-picker-column-option [value]="2">2</ion-picker-column-option>
          <ion-picker-column-option [value]="3">3</ion-picker-column-option>
          <ion-picker-column-option [value]="4">4</ion-picker-column-option>
          <ion-picker-column-option [value]="5">5</ion-picker-column-option>
          <div slot="suffix">USD</div>
        </ion-picker-column>
      </ion-picker>
    </ion-toolbar>
  </div>

  <div id="container9">
    <ion-toolbar>
      <p><strong class="capitalize">ion-fab/CSS Shadow Parts</strong></p>
      <br>
    </ion-toolbar>
    <ion-fab>
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button>
          <ion-icon name="document"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="color-palette"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="globe"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>

  <div id="container10">
    <ion-toolbar>
      <p><strong class="capitalize">Ion-input</strong></p>
      <ion-list>
        <ion-item>
          <ion-input label="Default input"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Input with placeholder" placeholder="Enter company name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Input with value" value="121 S Pinckney St #300"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Readonly input" value="Madison" [readonly]="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Disabled input" value="53703" [disabled]="true"></ion-input>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </div>

  <div id="container11">
    <ion-toolbar>
      <p><strong class="capitalize">Ion-Item</strong></p>
      <ion-list>
        <ion-item>
          <ion-icon aria-hidden="true" name="airplane" slot="start"></ion-icon>
          <ion-label>Airplane Mode</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="wifi" slot="start"></ion-icon>
          <ion-label>Wi-Fi</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="bluetooth" slot="start"></ion-icon>
          <ion-label>Bluetooth</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="call" slot="start"></ion-icon>
          <ion-label>Cellular</ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Huey</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Dewey</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Louie</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Fooie</ion-label>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </div>

  <div id="container12">
    <ion-toolbar>
      <p><strong class="capitalize">Metadata</strong></p>
      <ion-list [inset]="true">
        <ion-item [button]="true">
          <ion-icon color="danger" slot="start" name="list-circle" size="large"></ion-icon>
          <ion-label>General</ion-label>
          <ion-note slot="end">6</ion-note>
        </ion-item>
        <ion-item [button]="true">
          <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
          <ion-label>Shopping</ion-label>
          <ion-note slot="end">15</ion-note>
        </ion-item>
        <ion-item [button]="true">
          <ion-icon color="success" slot="start" name="list-circle" size="large"></ion-icon>
          <ion-label>Cleaning</ion-label>
          <ion-note slot="end">3</ion-note>
        </ion-item>
        <ion-item [button]="true">
          <ion-icon color="warning" slot="start" name="list-circle" size="large"></ion-icon>
          <ion-label>Reminders</ion-label>
          <ion-note slot="end">8</ion-note>
        </ion-item>
      </ion-list>

      <ion-list [inset]="true">
        <ion-item [button]="true" detail="false">
          <div class="unread-indicator-wrapper" slot="start">
            <div class="unread-indicator"></div>
          </div>
          <ion-label>
            <strong>Rick Astley</strong>
            <ion-text>Never Gonna Give You Up</ion-text><br />
            <ion-note color="medium" class="ion-text-wrap">
              Never gonna give you up Never gonna let you down Never gonna run...
            </ion-note>
          </ion-label>
          <div class="metadata-end-wrapper" slot="end">
            <ion-note color="medium">06:11</ion-note>
            <ion-icon color="medium" name="chevron-forward"></ion-icon>
          </div>
        </ion-item>
        <ion-item [button]="true" detail="false">
          <div class="unread-indicator-wrapper" slot="start"></div>
          <ion-label>
            <strong>Ionitron</strong>
            <ion-text>I have become sentient</ion-text><br />
            <ion-note color="medium" class="ion-text-wrap">That is all.</ion-note>
          </ion-label>
          <div class="metadata-end-wrapper" slot="end">
            <ion-note color="medium">03:44</ion-note>
            <ion-icon color="medium" name="chevron-forward"></ion-icon>
          </div>
        </ion-item>
        <ion-item [button]="true" detail="false">
          <div class="unread-indicator-wrapper" slot="start">
            <div class="unread-indicator"></div>
          </div>
          <ion-label>
            <strong>Steam</strong>
            <ion-text>Game Store Sale</ion-text><br />
            <ion-note color="medium" class="ion-text-wrap">
              That game you added to your wish list 2 years ago is now on sale!
            </ion-note>
          </ion-label>
          <div class="metadata-end-wrapper" slot="end">
            <ion-note color="medium">Yesterday</ion-note>
            <ion-icon color="medium" name="chevron-forward"></ion-icon>
          </div>
        </ion-item>
        <ion-item [button]="true" detail="false">
          <div class="unread-indicator-wrapper" slot="start"></div>
          <ion-label>
            <strong>Ionic</strong>
            <ion-text>Announcing Ionic 7.0</ion-text><br />
            <ion-note color="medium" class="ion-text-wrap">This version is one more than Ionic 6!</ion-note>
          </ion-label>
          <div class="metadata-end-wrapper" slot="end">
            <ion-note color="medium">Yesterday</ion-note>
            <ion-icon color="medium" name="chevron-forward"></ion-icon>
          </div>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </div>

  <div id="container13">
    <ion-toolbar>
      <p><strong class="capitalize">Expandable Options</strong></p>
      <ion-list>
        <ion-item-sliding>
          <ion-item-options side="start">
            <ion-item-option color="success" expandable>Archive</ion-item-option>
          </ion-item-options>

          <ion-item>
            <ion-label>Sliding Item with Expandable Options</ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option>Favorite</ion-item-option>
            <ion-item-option color="danger" expandable>Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-toolbar>
  </div>

  <div id="container14">
    <ion-toolbar>
      <p><strong class="capitalize">Buttons in List Headers</strong></p>
      <ion-list>
        <ion-list-header>
          <ion-label>Video Games</ion-label>
          <ion-button>See All</ion-button>
        </ion-list-header>
        <ion-item>
          <ion-label>Pokémon Yellow</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mega Man X</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>The Legend of Zelda</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pac-Man</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Super Mario World</ion-label>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </div>

  <div id="container15">
    <ion-toolbar>
      <p><strong class="capitalize">Chip Avatar - ion img</strong></p>
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head"
            src="https://img.freepik.com/vector-gratis/ilustracion-vectorial-demonio-samurai_43623-1596.jpg?semt=ais_hybrid&w=740&q=80" />
        </ion-avatar>
        <ion-label>Oni Samurai</ion-label>
      </ion-chip>
    </ion-toolbar>
    <ion-img src="https://ih1.redbubble.net/image.5551844341.8527/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg"
      alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  </div>

  <div id="container16">
    <ion-toolbar>
      <p><strong class="capitalize">ion-modal/Setting a boolean value</strong></p>
      <ion-button id="open-modal">Open</ion-button>
      <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Modal</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <p class="ion-padding-horizontal">You must accept the terms and conditions to close this modal.</p>
            <ion-item>
              <ion-checkbox id="terms" (ionChange)="onTermsChanged($event)" [checked]="canDismiss">
                <div class="ion-text-wrap">Do you accept the terms and conditions?</div>
              </ion-checkbox>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-toolbar>
  </div>

  <div id="container17">
    <ion-toolbar>
      <p><strong class="capitalize">ion-modal/Animations</strong></p>
      <ion-button id="open-modal1">Open Modal</ion-button>

      <ion-modal #modal1 trigger="open-modal1" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Modal</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal1.dismiss()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>Connor Smith</h2>
                  <p>Sales Rep</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>Daniel Smith</h2>
                  <p>Product Designer</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>Greg Smith</h2>
                  <p>Director of Operations</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>Zoey Smith</h2>
                  <p>CEO</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-toolbar>
  </div>

  <div id="container18">
    <ion-toolbar>
      <p><strong class="capitalize">Ion Popover - Nested Popovers</strong></p>
      <ion-button id="popover-button">Open Menu</ion-button>
      <ion-popover trigger="popover-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false">Option 1</ion-item>
              <ion-item [button]="true" [detail]="false">Option 2</ion-item>
              <ion-item [button]="true" id="nested-trigger">More options...</ion-item>

              <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
                <ng-template>
                  <ion-content>
                    <ion-list>
                      <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-toolbar>
  </div>

  <div id="container19">
    <ion-toolbar>
      <p><strong class="capitalize">Ion-Skeleton-Text</strong></p>
      <ion-list>
        <ion-list-header>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-list-header>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </div>

  <div id="container20">
    <ion-toolbar>
      <p><strong class="capitalize">Ion-Radio - Object Value References</strong></p>
      <ion-list>
        <ion-radio-group [compareWith]="compareWith" (ionChange)="handleChange($event)">
          @for (food of foods; track food.id) {
          <ion-item>
            <ion-radio [value]="food">{{ food.name }}</ion-radio>
          </ion-item>
          }
        </ion-radio-group>
      </ion-list>
    </ion-toolbar>
  </div>

  <div id="container21">
    <ion-toolbar>
      <p><strong class="capitalize">Ion-range - Pins</strong></p>
      <ion-range aria-label="Range with pin" [pin]="true" [pinFormatter]="pinFormatter"></ion-range>
    </ion-toolbar>
  </div>

  <div id="container22">
    <ion-toolbar>
      <p><strong class="capitalize">Ion Refresher - Pull Properties</strong></p>
      <ion-header>
        <ion-toolbar>
          <ion-title>Pull to Refresh</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200"
          (ionRefresh)="handleRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <p>Pull this content down to trigger the refresh.</p>
      </ion-content>
    </ion-toolbar>
  </div>

  <div id="container23">
    <ion-toolbar>
      <p><strong class="capitalize">Ion-Reorder - Custom Reorder Icon</strong></p>
      <ion-list>
        <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
        <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
        <ion-reorder-group [disabled]="false" (ionReorderEnd)="handleReorderEnd($any($event))">
          <ion-item>
            <ion-label> Item 1 </ion-label>
            <ion-reorder slot="end">
              <ion-icon name="pizza"></ion-icon>
            </ion-reorder>
          </ion-item>

          <ion-item>
            <ion-label> Item 2 </ion-label>
            <ion-reorder slot="end">
              <ion-icon name="pizza"></ion-icon>
            </ion-reorder>
          </ion-item>

          <ion-item>
            <ion-label> Item 3 </ion-label>
            <ion-reorder slot="end">
              <ion-icon name="pizza"></ion-icon>
            </ion-reorder>
          </ion-item>

          <ion-item>
            <ion-label> Item 4 </ion-label>
            <ion-reorder slot="end">
              <ion-icon name="pizza"></ion-icon>
            </ion-reorder>
          </ion-item>

          <ion-item>
            <ion-label> Item 5 </ion-label>
            <ion-reorder slot="end">
              <ion-icon name="pizza"></ion-icon>
            </ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </ion-toolbar>
  </div>

  <div id="container24">
    <ion-toolbar>
      <p><strong class="capitalize">Ion searchbar - Debounce</strong></p>
      <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

      <ion-list>
        @for (result of results; track result) {
        <ion-item>
          <ion-label>{{ result }}</ion-label>
        </ion-item>
        }
      </ion-list>
    </ion-toolbar>
  </div>

  <div id="container25">
    <ion-toolbar>
      <p><strong class="capitalize">Ion segment</strong></p>
      <ion-segment value="custom">
        <ion-segment-button value="custom">
          <ion-label>Custom</ion-label>
        </ion-segment-button>
        <ion-segment-button value="segment">
          <ion-label>Segment</ion-label>
        </ion-segment-button>
        <ion-segment-button value="buttons">
          <ion-label>Buttons</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>

  <div id="container26">
    <ion-toolbar>
      <p><strong class="capitalize">Ion select - Interface Options</strong></p>
      <ion-list>
        <ion-item>
          <ion-select label="Alert" [interfaceOptions]="customAlertOptions" interface="alert" placeholder="Select One">
            <ion-select-option value="bacon">Bacon</ion-select-option>
            <ion-select-option value="onions">Onions</ion-select-option>
            <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select label="Popover" [interfaceOptions]="customPopoverOptions" interface="popover"
            placeholder="Select One">
            <ion-select-option value="brown">Brown</ion-select-option>
            <ion-select-option value="blonde">Blonde</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select label="Action Sheet" [interfaceOptions]="customActionSheetOptions" interface="action-sheet"
            placeholder="Select One">
            <ion-select-option value="red">Red</ion-select-option>
            <ion-select-option value="green">Green</ion-select-option>
            <ion-select-option value="blue">Blue</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select label="Modal" [interfaceOptions]="customModalOptions" interface="modal" placeholder="Select One">
            <ion-select-option value="reese's">Reese's</ion-select-option>
            <ion-select-option value="snickers">Snickers</ion-select-option>
            <ion-select-option value="twix">Twix</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </div>

  <div id="container27">
    <ion-toolbar>
      <p><strong class="capitalize">Ion tabs</strong></p>
    </ion-toolbar>
  </div>

  <div style="height: 6000px;"></div>
</ion-content>

<ion-footer>
  <ion-tab-bar color="dark">
    <ion-tab-button tab="1">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favoritos</ion-label>
      <ion-badge color="success">30</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="2">
      <ion-icon name="musical-note"></ion-icon>
      <ion-label>Música</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="3">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendario</ion-label>
      <ion-badge color="success">47</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-toolbar>
    <div id="container">
      Git: <a target="_blank" rel="noopener noreferrer"
        href="https://github.com/Morningstar0707">github.com/Morningstar0707</a>
    </div>
  </ion-toolbar>
</ion-footer>